body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141E30, #243B55);
    color: white;
}

/* NAVBAR */
nav {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00d4ff;
    transform: scale(1.1);
}

/* CONTENEDOR */
.container {
    max-width: 600px;
    margin: 60px auto;
    background: rgba(255,255,255,0.1);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    animation: fadeIn 0.8s ease-in-out;
    text-align: center;
}

/* TITULOS */
h1 {
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 1px;
}

/* LISTA */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255,255,255,0.2);
    margin: 10px 0;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

li:hover {
    background: white;
    color: #243B55;
    transform: translateY(-5px);
}

/* ANIMACIÓN */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
